// RedmineX Theme
// Copyright 2020 RedmineX
// For license, see https://www.projectino.cz
// Created by Michael Staněk
// Created without vendor prefixes, "AutoPrefixed" by PrePros v5 (https://prepros.io)
 
// Media Queries to Copy / Paste:
 
// 380px
// @include media-breakpoint-up(xxs) {}

// 480px
// @include media-breakpoint-up(xs) {}

// 576px
// @include media-breakpoint-up(sm) {}

// 768px
// @include media-breakpoint-up(md) {}

// 899px
// @include media-breakpoint-up(redmine-mobile) {}

// 992px
// @include media-breakpoint-up(lg) {}

// 1200px
// @include media-breakpoint-up(xl) {}

// 1500px
// @include media-breakpoint-up(hd) {}

// 1900px
// @include media-breakpoint-up(2k) {}

/* ==========================================================================
   Favorite projects
   ========================================================================== */

.controller-favorite_projects {
	
	.my-project {
		display: none;
	}
	
	#filters-table .values {
		min-width: 400px;
	}
	
	#content>.contextual {
		flex-direction: row-reverse;
		font-size: 0;
		color: transparent;
		justify-content: center;
		
		a:not(.icon):not(.toggle-filters) {
			display: none;
		}
		
		@include media-breakpoint-up(redmine-mobile) {
			float: right;
			justify-content: flex-end;
		}
	}
	
	#query_form {
		
		&>h2 {
			font-size: 1rem;
		}
		
		.live_search input {
			max-width: 80%;
		}
	}
	
	#query_form_with_buttons {
		margin-top: 1rem;
	}
	
	.project_card {
		@include rounded;
		height: 210px;
		
		&>* {
			max-width: 100%;
		}
		
		.parent h4 {
			color: $headings-color;
		}
		
		.description,
		div.tags {
			line-height: 1.5;
		}
		
		div.tags {
			margin: 1rem 0;
			max-height: 50px;
		}
		
		.people {
			width: 92%;
		}
	}
	
	#sidebar {
		display: none;
		
		@include media-breakpoint-up(xl) {
			display: block;
		}
	}
	
	table.list tr.project {
		border-bottom: 1px solid $border-color-light;
		
		&>td:first-child {
			width: 60px;
			text-align: center;
		}
	}
	
	td.name {
		min-width: 200px;
	}
}

.parent-trigger {
	@include rounded;
	margin-right: 0.5rem;
	background: $primary;
	padding: 2px 6px;
	
	.fa {
		color: $white;
	}
}

tr.project.collapsed {
	display: none;
}

tr.project {
	
	&>td {
		padding-top: 0.75rem !important;
		padding-bottom: 0.75rem !important;
	}
}
