// RedmineX Theme
// Copyright 2020 RedmineX
// For license, see https://www.redmine-x.com
// Created by Michael Staněk
// Created without vendor prefixes, "AutoPrefixed" by PrePros v5 (https://prepros.io)
 
// Media Queries to Copy / Paste:
 
// 380px
// @include media-breakpoint-up(xxs) {}

// 480px
// @include media-breakpoint-up(xs) {}

// 576px
// @include media-breakpoint-up(sm) {}

// 768px
// @include media-breakpoint-up(md) {}

// 899px
// @include media-breakpoint-up(redmine-mobile) {}

// 992px
// @include media-breakpoint-up(lg) {}

// 1200px
// @include media-breakpoint-up(xl) {}

// 1500px
// @include media-breakpoint-up(hd) {}

// 1900px
// @include media-breakpoint-up(2k) {}

/* ==========================================================================
   Redmine Resources
   ========================================================================== */

#warningExplanation {
	background-image: none,;
}

.resource-planning-chart+table {
	width: auto !important;
	
	td {
		padding: 0.5rem 0.5rem 0 0 !important;
	}
	
	a {
		@include btn;
		@include btn-tetriary;
	}
}

.my-resource-bookings-chart {
	
	.workload-card {
	    background: $message-warning !important;
	    border: 1px solid $brand-warning !important;
	}
	
	.workload-card.green {
		background: $message-success !important;
	    border: 1px solid $brand-success !important;
	}
	
	.workload-card.red {
	    background: $message-danger !important;
	    border: 1px solid $brand-danger !important;
	}
	
	table.cal td {
		padding: 0 !important;
	}
	
	.booking-card {
		background: darken($table-bg-hover, 5%) !important;
		border: 1px solid darken($table-bg-hover, 5%) !important;
	}
}