// RedmineX Theme
// Copyright 2020 RedmineX
// For license, see https://www.projectino.cz
// Created by Michael Staněk
// Created without vendor prefixes, "AutoPrefixed" by PrePros v5 (https://prepros.io)
 
// Media Queries to Copy / Paste:
 
// 380px
// @include media-breakpoint-up(xxs) {}

// 480px
// @include media-breakpoint-up(xs) {}

// 576px
// @include media-breakpoint-up(sm) {}

// 768px
// @include media-breakpoint-up(md) {}

// 899px
// @include media-breakpoint-up(redmine-mobile) {}

// 992px
// @include media-breakpoint-up(lg) {}

// 1200px
// @include media-breakpoint-up(xl) {}

// 1500px
// @include media-breakpoint-up(hd) {}

// 1900px
// @include media-breakpoint-up(2k) {}

/* ==========================================================================
   Redmine Finance
   ========================================================================== */
   
.operation_list .list .money, 
.operation_list .list td.income, 
.operation_list .list td.expense {
	text-align: left !important;
}

.controller-operations {
	
	table .gravatar {
		top: 0;
	}
	
	.icon-contact {
		background-position: center;
	}
	
	#operation_contact_id_add_link {
		@include rounded;
		width: auto;
	    width: 2rem;
	    height: auto;
	    text-align: center;
		display: inline-block !important;
		position: relative;
		top: 2px;
		left: 2px;
		
		img {
			display: none;
		}
	}
	
	#select2-deal_contact_id-container {
		padding-left: 1.5rem;
	}
	
	#sidebar {
		padding-top: 3rem;
		flex: 0 0 420px;
	}
	
	div.contact {
		@include rounded;
		background: $query-form-bg;
		border: 1px solid $border-color-light;
		margin-bottom: 1rem;
	}
}

.controller-operations,
.controller-invoices {
	
	.select2-selection--single {
		padding: 6px 0.5rem !important;
	}
	
	.select2-selection__arrow,
	.select2-selection--single {
		height: 2.25rem !important;
	}
	
	.select2-container--default {
		width: 80% !important;
		
		@include media-breakpoint-up(sm) {
			width: 100% !important;
			max-width: 334px !important;
		}
		
	}
}

label[for*="operation_operation_date"]+input:not([type="checkbox"]):not([type="radio"]):not(.edit-box) {
	margin-right: 3px;
}

label[for*="operation_operation_date"]+input:not([type="checkbox"]):not([type="radio"]):not(.edit-box),
label[for*="operation_operation_date"]+input+input:not([type="checkbox"]):not([type="radio"]):not(.edit-box) {
	width: 120px !important;
}

.details #invoices {
	margin-top: 2rem;
	
	&>.contextual>a {
		@include btn;
		@include btn-tetriary;
	}
}

#comments {
	margin-top: 1rem;
	
	&+p>a {
		@include btn;
		@include btn-tetriary;
	}
}