// RedmineX Theme
// Copyright 2020 RedmineX
// For license, see https://www.projectino.cz
// Created by Michael Staněk
// Created without vendor prefixes, "AutoPrefixed" by PrePros v5 (https://prepros.io)
 
// Media Queries to Copy / Paste:
 
// 380px
// @include media-breakpoint-up(xxs) {}

// 480px
// @include media-breakpoint-up(xs) {}

// 576px
// @include media-breakpoint-up(sm) {}

// 768px
// @include media-breakpoint-up(md) {}

// 899px
// @include media-breakpoint-up(redmine-mobile) {}

// 992px
// @include media-breakpoint-up(lg) {}

// 1200px
// @include media-breakpoint-up(xl) {}

// 1500px
// @include media-breakpoint-up(hd) {}

// 1900px
// @include media-breakpoint-up(2k) {}

/* ==========================================================================
   Issue Templates
   ========================================================================== */

.controller-issue_templates {
	
	#content>h2.issue_template {
		float: left;
	}
	
	.template_link_area {
		
		.icon-add {
			height: auto;
			text-transform: none;
			padding: 0;
			border: none;
			vertical-align: baseline;
			
			&:hover {
				background: none;
			}
		}
		
		label {
			margin-right: 0.25rem;
		}
	}
	
	#orphaned_template_link:hover {
		cursor: pointer;
	}
	
	.template_tracker {
		background: none;
		margin-top: 2rem;
	}
	
	fieldset.issue {
		background: none !important;
	}
}

#issue_template-form {
	
	.checklist-new-only {
		padding: 0 !important;
	}
	
	.box-white>p:first-of-type>label {
		margin-left: -194px;
	}
}