// RedmineX Theme
// Copyright 2020 RedmineX
// For license, see https://www.redmine-x.com
// Created by Michael Staněk
// Created without vendor prefixes, "AutoPrefixed" by PrePros v5 (https://prepros.io)
 
// Media Queries to Copy / Paste:
 
// 380px
// @include media-breakpoint-up(xxs) {}

// 480px
// @include media-breakpoint-up(xs) {}

// 576px
// @include media-breakpoint-up(sm) {}

// 768px
// @include media-breakpoint-up(md) {}

// 899px
// @include media-breakpoint-up(redmine-mobile) {}

// 992px
// @include media-breakpoint-up(lg) {}

// 1200px
// @include media-breakpoint-up(xl) {}

// 1500px
// @include media-breakpoint-up(hd) {}

// 1900px
// @include media-breakpoint-up(2k) {}

/* ==========================================================================
   Document
   ========================================================================== */

#new_document {
	
	p input[type="submit"] {
		width: $btn-width-lg;
	}
	
	.filedroplistner {
		@include rounded;
		padding: 1rem;
		border: 1px solid $border-color-light;
		margin-bottom: 1rem;
		
		label {
			display: none !important;
		}
	}
}

.controller-documents {
	
	&.action-index {
	
		h4 {
			margin-bottom: 0;
		}
		
		h4+p {
			color: $text-color-light;
			font-size: $font-size-xs;
		}
		
		div.wiki {
			border-bottom: 1px solid $border-color-light;
		}
	}
	
	table tr {
		border-bottom: 1px solid $border-color-light;
	}
	
	td:last-child {
		text-align: right;
		padding-right: 0;
	}
	
	.thumbnails {
		padding: 1rem 0;
		
		&>div {
			display: inline-block;
			border: 1px solid $border-color-light;
		}
	}
}

#attach_files_link {
	@include btn;
	@include btn-tetriary;
}