// RedmineX Theme
// Copyright 2020 RedmineX
// For license, see https://www.projectino.cz
// Created by Michael Staněk
// Created without vendor prefixes, "AutoPrefixed" by PrePros v5 (https://prepros.io)
 
// Media Queries to Copy / Paste:
 
// 380px
// @include media-breakpoint-up(xxs) {}

// 480px
// @include media-breakpoint-up(xs) {}

// 576px
// @include media-breakpoint-up(sm) {}

// 768px
// @include media-breakpoint-up(md) {}

// 899px
// @include media-breakpoint-up(redmine-mobile) {}

// 992px
// @include media-breakpoint-up(lg) {}

// 1200px
// @include media-breakpoint-up(xl) {}

// 1500px
// @include media-breakpoint-up(hd) {}

// 1900px
// @include media-breakpoint-up(2k) {}
 
/* ==========================================================================
   Roadmap
   ========================================================================== */

.controller-versions.action-index {
	
	#roadmap {
		justify-content: space-between;
		
		@include media-breakpoint-up(redmine-mobile) {
			display: flex;
			flex-wrap: wrap;
		}
		
		.version-overview {
			padding: 0 1rem;
			margin-bottom: 1rem;
		}
	}
}

.controller-versions.action-show {
	
	#roadmap {
		
		.version-overview,
		#version-summary {
			@include rounded;
			padding: 1rem;
			margin-bottom: 1rem;
			background: $white;
			@include box-shadow-container;
			border: 1px solid lighten($border-color-light, 5%);
			
			&:hover {
				@include media-breakpoint-up(redmine-mobile) {
					@include box-shadow-container-hover;
				}
			}
		}
	}
}


#roadmap {
	
	.contextual .icon-edit {
		@include btn;
		@include btn-tetriary;
	}
	
	h3.version {
		display: inline-block;
		margin: 0 0 0.75em 0;
	}
	
	&>.version-article>.contextual {
		padding-right: 0;
	}
	
	.version-overview>p:first-child {
		margin: 0;
	}
	
	table.progress {
		float: left;
		width: calc(100% - 4rem);
		max-width: 500px;
	}
	
	.percent {
		position: relative;
		top: -7px;
		padding-left: 0.5rem;
		display: inline-block;
		margin: 0;
	}
	
	.version-overview {
		margin-top: 0.5rem;
	}
	
	.related-issues {
		margin-bottom: 2rem;
	}
	
	#version-summary  {
		
		fieldset {
			margin-bottom: 1rem;
		}
		
		legend {
			@include rounded;
			font-weight: 600;
			background: $white !important;
			color: $headings-color;
			padding: 0.5rem 1rem;
		}
		
		select {
			width: auto;
			height: auto;
		}
	}
	
	&+fieldset {
		
		legend {
			@include rounded;
			font-weight: 600;
			background: $body-bg;
			color: $headings-color;
			padding: 0.5rem 1rem;
			
			select {
				width: auto;
			}
		}
	}
}

.version-article {
	@include rounded;
	padding: 1rem;
	margin-bottom: 1rem;
	flex: 0 0 calc(50% - 0.75rem);
	@include box-shadow-container;
	border: 1px solid lighten($border-color-light, 5%);
	z-index: 100;
	
	&:hover {
		@include media-breakpoint-up(redmine-mobile) {
			@include box-shadow-container-hover;
		}
	}
	
	&>.contextual {
		float: right;
	}
	
	.progress-info {
		margin-bottom: 0;
	}
}

/* ==========================================================================
   News
   ========================================================================== */
   
.news-article {
	@include rounded;
	margin-bottom: 1rem;
	padding: 1rem;
	
	h3 {
		display: inline-block;
		margin: 0 0 0.25em 0;
	}
	
	p {
		margin: 0;
	}
	
	header>*:not(h3),
	.wiki {
		padding-left: 35px;
	}
	
	.gravatar {
		position: relative;
		top: 6px;
		margin-right: 0.25rem;
		width: 28px;
		height: 28px;
	}
}

#news-form {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#add-news {
	margin-bottom: 2rem;
}