// RedmineX Theme
// Copyright 2020 RedmineX
// For license, see https://www.projectino.cz
// Created by Michael Staněk
// Created without vendor prefixes, "AutoPrefixed" by PrePros v5 (https://prepros.io)
 
// Media Queries to Copy / Paste:
 
// 380px
// @include media-breakpoint-up(xxs) {}

// 480px
// @include media-breakpoint-up(xs) {}

// 576px
// @include media-breakpoint-up(sm) {}

// 768px
// @include media-breakpoint-up(md) {}

// 899px
// @include media-breakpoint-up(redmine-mobile) {}

// 992px
// @include media-breakpoint-up(lg) {}

// 1200px
// @include media-breakpoint-up(xl) {}

// 1500px
// @include media-breakpoint-up(hd) {}

// 1900px
// @include media-breakpoint-up(2k) {}

/* ==========================================================================
   User related styles
   ========================================================================== */

.controller-account.action-register {
	
	input[type="submit"] {
		width: $btn-width-lg;
		margin-top: 1rem;
	}
	
	#pref_hide_mail {
		float: left;
		top: 5px;
	}
}

.controller-my.action-account {
	
	#sidebar .icon-del {
		color: $brand-danger;
	}
}

.controller-users {
	
	&.action-new,
	&.action-edit {
	
		.splitcontentright .box.tabular p:nth-of-type(4) {
			margin-bottom: 3rem;
		}
	}
	
	&.action-show {
		
		#content .splitcontentleft>h3 {
			margin-top: 2.25rem;
			margin-bottom: 0;
		}
	}
}